body {
  background: #EAEFF0;
}

.ant-layout {
  background: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* .link { 
  color: #1890ff;
  cursor: pointer;
} */
.container { 
  /* padding: 0 50px; */
  margin: 100px 0 0 0;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content { 
  width: 100%;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .container { 
    padding: 0;
  }
  .content { 
    padding: 15px;
  }
}




/* Header stuff */
.MDDheader {
  height: 100px;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  padding: 0px 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 32px;
  height: 32px;
  margin: 0 15px 0 0;
  line-height: 0;
}
.txt {
  font-weight: bold;
  color: #EF5050;
}
.usersection {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.MDDlogofill {
  fill:#EF5050;
}


.MDDfooter {
  box-sizing: border-box;
  padding: 25px 0px;
  background: rgba(0, 0, 0, 0.015);
  text-align: center;
}



/* Buttons */

.MDDprimarybtn {
  color: #2B565F;
  font-weight: bold;
  border: none;
  padding: 24px 42px 24px;
  height: auto;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

.fixed261 {
  width: 261px;
}


/* Login */
.login_canvas {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login_canvas h2 {
  color: #2B565F;
  font-size: 1.65em;
  line-height: 1.3em;
  margin-bottom: 6px;
  font-weight: 200;
}
.login_canvas p {
  color: #2B565F;
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 50px;
  font-weight: 600;
}

.accountinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 0px 0px 10px;
}
.accountinfo p {
  color: #2B565F;
  font-weight: bold;
  margin: 0px 10px 0px 0px;
}


/* Toggle btn & menu */

.ant-popover-inner-content {
  padding: 0px;
}

.togglemenu {
  box-sizing: border-box;
  padding-top: 5px;
  display:flex;
  flex-direction: column;
}

.togglemenu a {
  box-sizing: border-box;
  padding: 10px 20px;
  border-bottom: 1px dotted rgba(0,0,0,0.2);
}
.togglemenu a:last-child {
  border-bottom: none;
}

.togglebtn {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  height: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-color: transparent;
  box-shadow: none;
  animation-duration: 0s !important;
}
.togglebtn::after {
  border: none !important;
  animation-duration: 0s !important;
}