.App {
  text-align: center;
}

.link { 
  color: #1890ff;
}
.container { 
  padding: 0 50px;
  margin: 64px 0 0 0;
}

.content { 
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

@media (max-width: 500px) {
  .ant-layout-header { 
    padding: 0 15px;
  }
  .container { 
    padding: 0;
  }
  .content { 
    padding: 15px;
  }
}